<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.crm.work.mapper.PlanSummaryMapper" >
  <resultMap id="BaseResultMap" type="com.crm.work.model.vo.PlanSummaryVo" >
    <result column="id" property="id" jdbcType="BIGINT" />
    <result column="pid" property="pid" jdbcType="BIGINT" />
    <result column="type" property="type" jdbcType="CHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="CHAR" />
    <result column="created_dt" property="createdDt" jdbcType="TIMESTAMP" />
    <result column="created_by" property="createdBy" jdbcType="VARCHAR" />
    <result column="updated_dt" property="updatedDt" jdbcType="TIMESTAMP" />
    <result column="updated_by" property="updatedBy" jdbcType="VARCHAR" />
    <result column="is_finish" property="isFinish" jdbcType="VARCHAR" />
    <association property="planInfoVo" columnPrefix="t3" resultMap="PlanInfoVo"/>
  </resultMap>
  <resultMap id="PlanInfoVo" type="com.crm.work.model.vo.PlanInfoVo" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="content" property="content" jdbcType="VARCHAR" />
    <result column="report_type" property="reportType" jdbcType="SMALLINT" />
    <result column="status" property="status" jdbcType="CHAR" />
    <result column="created_dt" property="createdDt" jdbcType="TIMESTAMP" />
    <result column="created_by" property="createdBy" jdbcType="VARCHAR" />
    <result column="updated_dt" property="updatedDt" jdbcType="TIMESTAMP" />
    <result column="updated_by" property="updatedBy" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="SMALLINT" />
    <result column="pattern" property="pattern" jdbcType="SMALLINT" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    ${alias}.id, ${alias}.type, ${alias}.remark, ${alias}.status, ${alias}.created_dt, ${alias}.created_by, ${alias}.updated_dt, ${alias}.updated_by
  </sql>
  <sql id="PlanInfoVo_Column_List" >
    ${alias}.id, ${alias}.title, ${alias}.content, ${alias}.report_type, ${alias}.status, ${alias}.created_dt, ${alias}.created_by, ${alias}.updated_dt, ${alias}.updated_by,
    type, ${alias}.pattern
  </sql>


  <select id="canLookSummaryByUser" resultType="Long">
    select "array_agg"(psid) from plan_user where uid=#{uid}
  </select>
  <select id="list" resultMap="BaseResultMap" parameterType="com.crm.work.model.pojo.PlanSummarySearchCondition">
    select
    <include refid="Base_Column_List">
      <property name="alias" value="t1"/>
    </include>
    ,
    <include refid="PlanInfoVo_Column_List">
      <property name="alias" value="t2"/>
    </include>
    from plan_summary as t1,plan_info as t2
    where
      t1.pid =t2.id
    <if test="title">
      and t1.title like '%${title}%'
    </if>
    <if test="pattern">
      and t1.pattern =#{pattern}
    </if>
    <if test="type">
      and t1.type =#{type}
    </if>
    <if test="uid">
      and t1.uid =#{uid}
    </if>
    <if test="rids">
      <foreach collection="rids" item="item" separator="," close=")" open="and t1.id in (">
        #{item}
      </foreach>
    </if>
  </select>
  <delete id="deleteBySummnaryAttribute">
    delete from plan_summary_attribute where psid=#{id}
  </delete>

  <delete id="delete">
    delete from plan_summary where id=#{id}
  </delete>

  <insert id="insertSummnaryAttribute" parameterType="com.crm.work.model.dto.PlanSummaryAttributeDto" >
    insert into plan_summary_attribute (ppid,psid, value)
    values (#{ppid}, #{psid,jdbcType=BIGINT}, #{value,jdbcType=VARCHAR})
  </insert>

  <update id="updateByPrimaryKey" parameterType="com.crm.work.model.PlanSummary" >
    update plan_summary
    <set >
      <if test="type != null" >
        type = #{type,jdbcType=CHAR},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=CHAR},
      </if>
      <if test="updatedDt != null" >
        updated_dt = #{updatedDt,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedBy != null" >
        updated_by = #{updatedBy,jdbcType=VARCHAR},
      </if>
    </set>
    where  id = #{id,jdbcType=BIGINT}
  </update>





  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.crm.work.model.PlanSummaryCriteria" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from plan_summary
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.crm.work.model.PlanSummaryCriteria" >
    delete from plan_summary
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.crm.work.model.PlanSummary" >
    insert into plan_summary (id, type, remark, 
      status, created_dt, created_by, 
      updated_dt, updated_by)
    values (#{id,jdbcType=BIGINT}, #{type,jdbcType=CHAR}, #{remark,jdbcType=VARCHAR}, 
      #{status,jdbcType=CHAR}, #{createdDt,jdbcType=TIMESTAMP}, #{createdBy,jdbcType=VARCHAR}, 
      #{updatedDt,jdbcType=TIMESTAMP}, #{updatedBy,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.crm.work.model.PlanSummary" >
    insert into plan_summary
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="createdDt != null" >
        created_dt,
      </if>
      <if test="createdBy != null" >
        created_by,
      </if>
      <if test="updatedDt != null" >
        updated_dt,
      </if>
      <if test="updatedBy != null" >
        updated_by,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="type != null" >
        #{type,jdbcType=CHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=CHAR},
      </if>
      <if test="createdDt != null" >
        #{createdDt,jdbcType=TIMESTAMP},
      </if>
      <if test="createdBy != null" >
        #{createdBy,jdbcType=VARCHAR},
      </if>
      <if test="updatedDt != null" >
        #{updatedDt,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedBy != null" >
        #{updatedBy,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.crm.work.model.PlanSummaryCriteria" resultType="java.lang.Integer" >
    select count(*) from plan_summary
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update plan_summary
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.type != null" >
        type = #{record.type,jdbcType=CHAR},
      </if>
      <if test="record.remark != null" >
        remark = #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null" >
        status = #{record.status,jdbcType=CHAR},
      </if>
      <if test="record.createdDt != null" >
        created_dt = #{record.createdDt,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createdBy != null" >
        created_by = #{record.createdBy,jdbcType=VARCHAR},
      </if>
      <if test="record.updatedDt != null" >
        updated_dt = #{record.updatedDt,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updatedBy != null" >
        updated_by = #{record.updatedBy,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update plan_summary
    set id = #{record.id,jdbcType=BIGINT},
      type = #{record.type,jdbcType=CHAR},
      remark = #{record.remark,jdbcType=VARCHAR},
      status = #{record.status,jdbcType=CHAR},
      created_dt = #{record.createdDt,jdbcType=TIMESTAMP},
      created_by = #{record.createdBy,jdbcType=VARCHAR},
      updated_dt = #{record.updatedDt,jdbcType=TIMESTAMP},
      updated_by = #{record.updatedBy,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>